In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score, KFold

In [7]:
df = pd.read_csv('SMSSpamCollection.txt', header = None, sep = '\t', names = ['spam', 'text'])
print(df.shape)
df.head(10)

(5572, 2)

   spam                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [9]:
df['label'] = df['spam'].apply(lambda x : 1 if x == 'spam' else 0)

   spam                                               text  label
0   ham  Go until jurong point, crazy.. Available only ...      0
1   ham                      Ok lar... Joking wif u oni...      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3   ham  U dun say so early hor... U c already then say...      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0
5  spam  FreeMsg Hey there darling it's been 3 week's n...      1
6   ham  Even my brother is not like to speak with me. ...      0
7   ham  As per your request 'Melle Melle (Oru Minnamin...      0
8  spam  WINNER!! As a valued network customer you have...      1
9  spam  Had your mobile 11 months or more? U R entitle...      1

In [10]:
sms = df['text'].values
y = df['label'].values

In [13]:
countv = CountVectorizer()
X = countv.fit_transform(sms)

In [19]:
np.random.seed(0)
logreg = LogisticRegression()
score = np.mean(cross_val_score(logreg, X, y, scoring = 'f1', cv = 10))
print(score)

0.932640298361

In [21]:
test = ["FreeMsg: Txt: CALL to No: 86888 & claim your reward of 3 hours talk time to use from your phone now! Subscribe6GB", 
        "FreeMsg: Txt: claim your reward of 3 hours talk time", 
        "Have you visited the last lecture on physics?", 
        "Have you visited the last lecture on physics? Just buy this book and you will have all materials! Only 99$", 
        "Only 99$"]
X_test = countv.transform(test)
logreg.fit(X, y)
pred = logreg.predict(X_test)
print(pred)

[1 1 0 0 0]

In [22]:
countv22 = CountVectorizer(ngram_range=(2,2))
countv33 = CountVectorizer(ngram_range=(3,3))
countv13 = CountVectorizer(ngram_range=(1,3))
X22 = countv22.fit_transform(sms)
X33 = countv33.fit_transform(sms)
X13 = countv13.fit_transform(sms)

In [23]:
score22 = np.mean(cross_val_score(logreg, X22, y, scoring = 'f1', cv = 10))
score33 = np.mean(cross_val_score(logreg, X33, y, scoring = 'f1', cv = 10))
score13 = np.mean(cross_val_score(logreg, X13, y, scoring = 'f1', cv = 10))
print(score22, score33, score13)

0.822422066419 0.725016155547 0.925138255865

In [24]:
nb_class = MultinomialNB()
nb_score22 = np.mean(cross_val_score(nb_class, X22, y, scoring = 'f1', cv = 10))
nb_score33 = np.mean(cross_val_score(nb_class, X33, y, scoring = 'f1', cv = 10))
nb_score13 = np.mean(cross_val_score(nb_class, X13, y, scoring = 'f1', cv = 10))
print(nb_score22, nb_score33, nb_score13)

0.645501517799 0.378719485246 0.888485965606

In [26]:
tf_idf = TfidfVectorizer()
X_tf = tf_idf.fit_transform(sms)
tf_score = np.mean(cross_val_score(logreg, X_tf, y, scoring = 'f1', cv = 10))
print(tf_score)

0.852859955417